@import url();
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box ;
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  min-height: 100%;
  background: #00661a;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white!important ;
  line-height: 70px;
  padding-left: 40px;
  background: #006600;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white!important ;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #006600;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 5px;
  top: 5px;
  font-size: 25px;
  color: white!important ;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #fff!important ;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

/*fifo logo*/
.fifo{
  width: 14rem;
  
}
/*nav paragraph*/
.nav_para{
  font-size: 80%;
  margin-top: 0.5rem;
}
main{

    text-align: center ;

}
header.trial{
  display:flex;

  flex-direction: column;
  justify-content: center ;
  align-items: center ;
  background: #00661a ;
  color:#fff ;
  padding:1rem 5%;
}
img.logo{
  max-width: 8rem ;
  max-height: 5rem;
  border-radius :50%;
  margin-top: 1rem ;
}
nav{
  text-align: center ;
} 
h1.nav_header{
    font-size: 240%;
}
div.occupy{

  width:6rem ;

  display: none;
}

section{
  min-height: 100%;
  transition: all .5s;
  text-align: center ;
  padding: 2rem;
  color:#00661a!important ;
}
article.dashboard{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center ;
  align-content: center ;
  grid-gap :2rem ;
  margin-top:3.2rem ;
}
div.dashboard_card{
    background:linear-gradient(315deg, #e6e6e6, #fff) ;
    box-shadow:  -29px -29px 31px #d9d9d9, 29px 29px 31px #ffffff;
    box-sizing: border-box;
    width: 16rem;
    height :10rem ;
    display: grid;
    grid-template-rows: 10fr 2fr;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 1s ease-out;
} 
div.dashboard_card:hover{
    width:18rem;
    height:12rem;
    transition: all 1s ease-in;
}

h2.dashboard_card_header{
  text-align: left;
  font-size :120%;
  font-weight :300;
  border-bottom:1px solid #c4c4c4;
}
h2 i{
  display: block ;
  margin: 1.5rem auto ;
} 
i img{
    width:3rem;
    height:1rem;
}
p.dashboard_card_figure{
  text-align: right ;
  font-size :150%;
}
p.bird_count{
  color: #147ae0;
} 
p.mortality_rate,
p.expenditure,
p.loss{
  color: #e01e14;
}
p.feeds,
p.sales,
p.profit{
  color:#238510;
}
p.drugs{
  color: #e3d912;
}


/**********MEDIA QUERIES**********/
@media all and (min-width:760px){
  article.dashboard{
  display: grid;
  grid-template-columns:  1fr  1fr;
  grid-gap :2rem ;
  justify-content: space-around;
  }
  
  .fifo{
    width: 31rem;
    }
    
  .nav_para{
    font-size: 200%;
    margin-top: 0.5rem;
    }
  div.dashboard_card{
    width:19rem;
    height:auto ;
  }
  div.dashboard_card:hover{
    width:21rem;
    height:auto;
    transition: all 1s;
}
  h2 i{
    margin: 3rem auto;
    font-size: 200%;
  } 
  header.trial{
  display:flex;
  flex-direction: row !important;

  justify-content: space-between ;
  align-items: center ;
  background: #00661a ;
  color:#fff ;
  padding:1rem 5%;
}
img.logo{
  max-width: 10rem ;
  max-height: 7rem;
  border-radius :50%;
  margin-top: 0;
}
div.occupy{

  width:6rem ;

  display: block ;
}
}
